/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.main {
  width: 100%;
  height: 100vh;
}

.blue_circle {
  width: 250px;
  border-radius: 50%;
  height: 250px;
  border: 1px solid blue;
  position: absolute;
  left: -150px;
  top: -80px;
  background-color: rgba(29, 19, 102, 0.788);
  -webkit-filter: blur(50px);
          filter: blur(50px);
  z-index: -1;
}

.pink_circle {
  width: 400px;
  border-radius: 50%;
  height: 400px;
  border: 1px solid pink;
  position: absolute;
  left: -80px;
  top: 150px;
  background-color: palevioletred;
  -webkit-filter: blur(50px);
          filter: blur(50px);
  z-index: -1;
}

.green_circle {
  width: 300px;
  border-radius: 50%;
  height: 300px;
  border: 1px solid pink;
  position: absolute;
  left: 100px;
  top: -75px;
  background-color: rgba(0, 128, 0, 0.74);
  -webkit-filter: blur(80px);
          filter: blur(80px);
  z-index: -1;
}

.container {
  max-width: 1300px;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  z-index: 9999999 !important;
}

.container .inside_container {
  width: 100%;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid rgba(170, 170, 170, 0.589);
  -webkit-box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.1);
          box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.container .inside_container .left {
  width: 46%;
  margin: 20px;
}

.container .inside_container .left video {
  width: 100%;
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
}

.container .inside_container .right {
  width: 35%;
  border: 1px solid rgba(170, 170, 170, 0.589);
  -webkit-box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.1);
          box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  padding: 3rem 5rem;
}

.container .inside_container .right form .input {
  width: 100%;
  border: 1px solid rgba(170, 170, 170, 0.589);
  -webkit-box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.1);
          box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  padding: 0.5 2rem;
}

.container .inside_container .right form .input:focus {
  outline-style: none;
  padding-left: 1rem;
}

.container .inside_container .right form .input::-webkit-input-placeholder {
  padding-left: 0.5rem;
}

.container .inside_container .right form .input:-ms-input-placeholder {
  padding-left: 0.5rem;
}

.container .inside_container .right form .input::-ms-input-placeholder {
  padding-left: 0.5rem;
}

.container .inside_container .right form .input::placeholder {
  padding-left: 0.5rem;
}

.footer_pink_circle {
  width: 400px;
  border-radius: 50%;
  height: 400px;
  border: 1px solid pink;
  position: absolute;
  bottom: 0px;
  right: 0;
  background-color: palevioletred;
  -webkit-filter: blur(50px);
          filter: blur(50px);
  z-index: -1;
}

.footer_green_circle {
  width: 300px;
  border-radius: 50%;
  height: 300px;
  border: 1px solid pink;
  position: absolute;
  right: 300px;
  bottom: 0px;
  background-color: rgba(0, 128, 0, 0.74);
  -webkit-filter: blur(80px);
          filter: blur(80px);
  z-index: -1;
}

.registration {
  border: 1px solid rgba(128, 128, 128, 0.61);
  padding: 2rem;
  -webkit-box-shadow: -2px -2px 8px white, 3px 3px 5px rgba(0, 0, 0, 0.1);
          box-shadow: -2px -2px 8px white, 3px 3px 5px rgba(0, 0, 0, 0.1);
  background: white;
}

.registration form input {
  -webkit-box-shadow: -2px -2px 8px white, 3px 3px 5px rgba(0, 0, 0, 0.1);
          box-shadow: -2px -2px 8px white, 3px 3px 5px rgba(0, 0, 0, 0.1);
}

.registration form input:focus {
  outline: none;
}

.forgot {
  border: 1px solid rgba(128, 128, 128, 0.158);
  border-radius: 20px;
  -webkit-box-shadow: -2px -2px 8px white, 3px 3px 5px rgba(0, 0, 0, 0.1);
          box-shadow: -2px -2px 8px white, 3px 3px 5px rgba(0, 0, 0, 0.1);
}

.forgot form input {
  -webkit-box-shadow: -2px -2px 8px white, 3px 3px 5px rgba(0, 0, 0, 0.1);
          box-shadow: -2px -2px 8px white, 3px 3px 5px rgba(0, 0, 0, 0.1);
}

.home_container {
  max-width: 1300px;
  width: 100%;
  height: 100vh;
  margin: auto;
  position: relative;
  overflow-y: scroll;
  height: 90vh;
}

.home_container::-webkit-scrollbar {
  width: 0;
}

.home_container .right {
  width: 65%;
  height: 90vh;
  border: 1px solid rgba(128, 128, 128, 0.226);
  background: white;
  border-radius: 20px;
  padding: 1rem;
  overflow: scroll;
}

.home_container .right::-webkit-scrollbar {
  width: 0;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.justify_center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.align_center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

aside {
  width: 30%;
  height: 90vh;
  border: 1px solid rgba(128, 128, 128, 0.233);
  padding: 1rem 0;
  border-radius: 20px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding: 0.5rem;
  -webkit-box-shadow: -2px -2px 8px white, 3px 3px 5px rgba(0, 0, 0, 0.1);
          box-shadow: -2px -2px 8px white, 3px 3px 5px rgba(0, 0, 0, 0.1);
  background: white;
}

aside .image_crop {
  margin-top: -65px;
}

aside .highlite {
  border-radius: 25px;
  border: 1px solid rgba(128, 128, 128, 0.137);
  -webkit-box-shadow: -2px -2px 8px white, 3px 3px 5px rgba(0, 0, 0, 0.1);
          box-shadow: -2px -2px 8px white, 3px 3px 5px rgba(0, 0, 0, 0.1);
  background: white;
}

aside .li {
  width: 85%;
  padding: 0.4rem 1rem;
  margin-top: 2rem;
}

aside .li:hover {
  border-radius: 25px;
  border: 1px solid rgba(128, 128, 128, 0.137);
  -webkit-box-shadow: -2px -2px 8px white, 3px 3px 5px rgba(0, 0, 0, 0.1);
          box-shadow: -2px -2px 8px white, 3px 3px 5px rgba(0, 0, 0, 0.1);
  background: white;
}

aside .li a {
  text-decoration: none;
  font-size: 1.3rem;
  margin: 0 1rem;
}

aside .li img {
  width: 40px;
  opacity: 80%;
}

.post_content {
  margin-top: 2rem;
  border-radius: 25px;
  border: 1px solid rgba(128, 128, 128, 0.137);
  -webkit-box-shadow: -2px -2px 8px white, 3px 3px 5px rgba(0, 0, 0, 0.1);
          box-shadow: -2px -2px 8px white, 3px 3px 5px rgba(0, 0, 0, 0.1);
  background: white;
}
/*# sourceMappingURL=style.css.map */