<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/stylesheets/style.css">

</head>
<body>
    <header>

    </header>

    <main>
        <div class="home_container">
            <aside>
                <nav>
                    <ul class="">
                        <img src="" alt="">
                        <li class="li flex  align_center w-2/12"><img src="https://img.icons8.com/fluency/48/000000/globe.png"/> <a href="">Home</a></li>
                        <li class="li flex  align_center w-2/12"><img src="https://img.icons8.com/fluency/48/000000/google-home.png"/> <a href="">Explore</a></li>
                        <li class="li flex  align_center w-2/12"><img src="https://img.icons8.com/fluency/48/000000/test-account.png"/> <a href="">Profile</a></li>
                        <li class="li flex  align_center w-2/12"><img src="https://img.icons8.com/fluency/48/000000/more.png"/> <a href="">More</a></li>
                    </ul>
                </nav>

            </aside>
        </div>
    </main>

    <footer>

    </footer>
</body>
</html>