<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Shout</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <header>

  </header>

  <main class="main">
    <div class="circles">
      <div class="blue_circle"></div>
      <div class="pink_circle"></div>
      <div class="green_circle"></div>
      <div class="orange_circle"></div>
    </div>


    <div class="container">
      <div class="inside_container">
       <div>
          <div class="left">
            <video autoplay loop>
              <source src="/videos/login_video.mp4" type="video/mp4"> 
            </video>
          </div>

          <div class="right">
            
          </div>
       </div>
      </div>
    </div>
  </main>


  <footer>
    <div class=" footer_pink_circle"></div>
      <div class=" footer_green_circle"></div>
  </footer>
</body>
</html>